#gallery {
  background-color: @black;
  color: @black;

  &.fullscreen-active {
    overflow: hidden;
  }

  .gallery-header {
    @import "gallery/header.less";
  }

  .gallery-grid {
    overflow: auto;
    width: 100%;
    position: relative;
    line-height: 0;
   
    .columns(3);
    .columns-gap(0px);

    .gallery-grid-item {
      @import "gallery/grid_item.less";
    }
  }

  .gallery-view {
    @import "gallery/single.less";
  }
}