div
  header.marker-header
    h3.marker-name {{infos.name}}
      span.marker-amount {{infos.amount}}
    div.marker-duration
      span {{infos.begin}}
      small -
      span {{infos.end}}
  //- div.marker-content-wrapper
  //-   section.marker-content
  //-     p {{infos.description}}
  