.infos-extend () {
  height: 60px;
  width: 170px;
}

// list-style: none;
> div {
  position: relative;
  margin-top: -3px;
}
// width: 100%;
// height: auto;
// .transition(all 0.5s ease);

.gallery-grid-item-infos {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid @white;
  padding: 5px 7px;
  height: 30px;
  overflow: hidden;
  width: 100px;
  .transition(height 0.3s ease 0.3s, width 0.3s ease, opacity 0.3s ease 0.7s;);
  opacity: 0;

  > p {
    color: @white;
    display: block;
    height: 30px;
    font-size: 16px;
    text-shadow: 0 0 1px fade(@black, 50);
    white-space: nowrap;
  }

  .gallery-grid-item-time {
    margin-left: 10px;
  }

  &.extend,
  &:hover {
    .infos-extend();
  }
}

.gallery-grid-item-image {
  height: 100%;
  width: 100%;
  cursor: pointer;
  .transition(all 1s ease);
  .grayscale(100%);
  opacity: 0;
  .scale(0.3);

  &.animate {
   opacity: 1;
   .scale(1);

   + .gallery-grid-item-infos {
     opacity: 1;
   }
  }

  &:hover {
    .grayscale(0%);
  }

  &:hover + .gallery-grid-item-infos:not(.extend) {
    .infos-extend();
  }
}
