position: fixed;
top: 0;
left: 0;
width: 100%;
line-height: @height-topbar;
background-color: @white;
height: @height-topbar;
z-index: 2;
box-shadow: 0 0px 5px 0px fade(@black, 50);

.gallery-play-intervals {
  font-size: 30px;
  position: absolute;
  top: @height-topbar;
  background-color: @white;
  box-shadow: 0px 5px 5px 0px fade(@black, 50);
  right: 0px;
  height: 0px;
  line-height: 30px;
  overflow: hidden;
  .transition(height 0.3s ease);

  .gallery-play-interval {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    .transitionColor(0.3s);

    &:hover,
    &.active {
      color: @highlight;
    }

    &:first-child {
      margin-left: 10px;
    }

    .gallery-play-interval-value {
      position: absolute;
      top: 40%;
      left: 45%;
      font-size: 14px;
      line-height: 0;
    }
  }

  &.visible {
    height: 35px;
  }
}

.gallery-back,
.gallery-play,
.gallery-item-close,
.gallery-fullscreen {
  position: absolute;
  top: 3px;
  font-size: 30px;
  width: 30px;
  cursor: pointer;
  .transitionColor(0.3s);

  &:hover {
    color: @highlight;
  }
}

.gallery-back,
.gallery-item-close {
  left: 10px;
}

.gallery-play,{
  right: 50px;
}

.gallery-fullscreen {
  right: 10px;
}

.gallery-name,
.gallery-duration {
  display: inline-block;
}

.gallery-name {
  margin-left: 50px;
  color: @highlight;
}

.gallery-duration {
  margin-left: 10px;
  font-size: 14px;
  position: relative;
  top: -2px;
}

.gallery-nav {
  display: inline-block;
  font-size: 30px;
  top: 3px;
  right: 100px;
  position: absolute;
  .transitionVisibility(0.3s);

  .gallery-nav-back,
  .gallery-nav-next {
    cursor: pointer;
    .transitionColor(0.3s);
    margin: 0 2px;

    &:hover {
      color: @highlight;
    }
  }

  &.visible {
    .visible();
  }
}

&.fullscreen {
  background-color: fade(@white, 50);

  ~ .gallery-grid {
    margin-top: -@height-topbar;
  }

  ~ .gallery-view.visible {
    top: 0 !important;
    height: 100% !important;
  }
}