position: fixed;
width: 0;
height: 0;
top: @height-topbar;
left: 0px;
background-color: fade(@black, 75);

&.transition{
  .transition(
    height 0.3s ease, 
    width 0.3s ease,
    left 0.3s ease ,
    top 0.3s ease;);
}

.gallery-view-image {
  height: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

&.visible {
  width: 100% !important;
  height: calc(~"100% - @{height-topbar}") !important;
  top: @height-topbar !important;
  left: 0 !important;
}